<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>17162B9E-C683-4FED-9F44-886B0B489E5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68E9E369-81F3-4764-AE82-F7A05D541B5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE97E58D-7AB9-497A-9AEE-4F1D5EB7C527</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB78A62A-8184-4AFE-902B-11E2B8E2580E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>chenyk1219</string>
	<key>description</key>
	<string>Quickly Open Pycharm Projects By  Alfred  Workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quickly Open IDEA Projects By  Alfred Workflows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$PYCHARM_LAUNCHER_CMD $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68E9E369-81F3-4764-AE82-F7A05D541B5C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>103</integer>
				<key>keyword</key>
				<string>idea</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>#!/bin/bash

query="{query}"

sh search.sh $query</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open Recent Project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>17162B9E-C683-4FED-9F44-886B0B489E5C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>-- 脚本介绍
-- 功能：获取所选文件、文件夹的目录路径，支持多选
-- 如果仅仅想获取文件的目录路径，可以调用 isDirectory() 过滤掉文件夹的路径

tell application "Finder" to set selectedItems to selection as alias list
-- 没选择的话就当前窗口路径
if selectedItems is {} then
   tell application "Finder" to set pathData to (quoted form of POSIX path of (folder of the front window as alias))
-- 获得所选文件/文件夹的父目录。
else
   set parentPath to do shell script "dirname " &amp; quoted form of POSIX path of (item 1 of selectedItems)
   -- 用于拼接多个路径
   set pathData to ""

   -- 历遍选择的项目
   repeat with theItem in selectedItems
       -- 获得各个选中项的路径，换行拼接
       set pathData to pathData &amp; POSIX path of theItem &amp; linefeed
       -- 下面两句获得各个文件的文件名（文件夹的话获取文件夹名），并换行拼接
       -- set fileName to do shell script "basename " &amp; quoted form of POSIX path of theItem
       -- set pathData to pathData &amp; fileName &amp; linefeed
   end repeat
end if

do shell script "$PYCHARM_RUN_PATH " &amp; pathData</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AB78A62A-8184-4AFE-902B-11E2B8E2580E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ideaf</string>
				<key>subtext</key>
				<string>Loading……</string>
				<key>text</key>
				<string>Open Select Path</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CE97E58D-7AB9-497A-9AEE-4F1D5EB7C527</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>17162B9E-C683-4FED-9F44-886B0B489E5C</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>68E9E369-81F3-4764-AE82-F7A05D541B5C</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>AB78A62A-8184-4AFE-902B-11E2B8E2580E</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>CE97E58D-7AB9-497A-9AEE-4F1D5EB7C527</key>
		<dict>
			<key>xpos</key>
			<real>105</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>PYCHARM_CONFIG_PATH</key>
		<string>/User/ichen/Library/Application Support/JetBrains/IntelliJIdea2023.2</string>
		<key>PYCHARM_LAUNCHER_CMD</key>
		<string>/Applications/IntelliJ IDEA.app/Contents/MacOS/idea</string>
		<key>PYCHARM_RUN_PATH</key>
		<string>/Applications/IntelliJ IDEA.app</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>V1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/chenyk1219/jetbrains-in-workflow.git</string>
</dict>
</plist>
